<header>
  <h1>Chat Rooms</h1>
</header>

<div class="chatrooms">
  <% if user_signed_in? %>
    <% @chatrooms.each do |chatroom| %>
      <h2><%= link_to chatroom.topic, chatroom %></h2>
    <% end %>
  <% else %>
    <h2>Please Sign up or Log in first</h2>
  <% end %>
</div>

<%= will_paginate %>
